{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    {{ form(formulaire) }}

    {% if movie.id is not null %}
        <a href="{{ path('remove_movie', {'id': movie.id}) }}">Supprimer le film</a>
    {% endif %}
{% endblock %}
