{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{{ path('form_edit', {'id': movie.id}) }}">{{ movie.name }}</a>
                (<a href="{{ path('remove_movie', {'id': movie.id}) }}">X</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock %}